/* RESET CSS */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* GENERAL */

body {
	font-family: sans-serif;
}

hr {
    color: grey;
}

/* UTILITY */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

/* HEADER */

.display-nav {
    background-color: lightblue;
    min-height: 50px;
}

.display-header {
    background-color: blue;
    min-height: 300px;
}

/* MAIN */

.display-home-white {
    background-color: white;
}

.display-home-grey {
    background-color: grey;   
}

.img-box {
    background-color: lightseagreen;
    width: 60%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dashed black;
}

.text-box {
    background-color: pink;
    width: 40%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dashed black;
}

.green-square {
    background-color: green;
    width: 100%;
    height: 900px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dashed black;
}

/* FOOTER */

footer {
    background-color: black;
    min-height: 100px;
}

.logo-footer {
    background-color: palevioletred;
    width: 33%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dashed black;
}

.text-footer {
    background-color: greenyellow;
    width: 16.66%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dashed black;
}

.social-footer {
    background-color: green;
    width: 100%;
    height: 75px;
    display: inline-block;
    margin-top: 30px;
    border: 1px dashed white;
}

.display-footer-after {
    border: 2px solid gray;
}
