/* RESET CSS */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* GENERAL */

body {
	font-family: sans-serif;
}

/* UTILITY */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

/* HEADER */

.display-nav {
    background-color: lightblue;
    min-height: 50px;
}

.display-header {
    background-color: blue;
    min-height: 300px;
}

/* MAIN */

.display-home-white {
    background-color: white;
}

.display-home-grey {
    background-color: grey;   
}

.img-box {
    background-color: aqua;
    width: 60%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-box {
    background-color: black;
    width: 40%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green-square {
    background-color: green;
    height: 500px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: black;
    min-height: 100px;
}


